@charset:utf-8;
*{
    margin:0;
    padding:0;
}
.header{
    background:rgb(68, 179, 158);
    margin:0;
    padding:0;
    height:92px;
}
.header-title{
    margin:0 10px;
    font-size:24px;
    font-weight: normal;
    line-height: 92px
}
.header-title a {
    color:#fafafa;
    text-decoration:none;
}
.nav{
    display:flex;
    position:absolute;
    top:0;
    right:0;
}
.nav-title{
    display:none;
}
.nav-link{
    padding: 0px;
    display:flex;
    line-height: 92px;
}
.nav-link a {
    padding: 0 10px;
    color:#fff;
    text-decoration: none;
}
.main-area{
    text-align: center;
    padding:204px 0px 0px;
    height:680px;
    background-color:rgb(61, 180, 160);
}
.main-area-title{
    display: inline-block;
    text-align: center;
    height: 72px;
    margin:0 0 24px;
    font-size:24px;
    color:#fff;
    font-family:"YuGothic,";
}
.main-area-lead{
    font-size:15px;
    color:#fff;
    font-family:"YuGothic,";
    margin:0 40px;
}
.entries{
    margin: 40px 0;
    padding-bottom:40px;
    border-bottom:1px solid rgb(229, 229, 229);
    border-top:1px solid rgb(229, 229, 229);
}
.entry-section{
    padding:40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around
}
.entries-title{
    font-size:24px;
    padding:24px;
    margin:0 0.5%;
    border-bottom:1px solid rgb(229, 229, 229);
    text-align: center;
}
.entry{
    display:flex;
    justify-content:center;
    flex-flow: column-reverse wrap;
    max-width:200px;
    min-width:150px;
    margin:0 10px;
    position: relative;
}
.entry:before {
    content:'No.1';
    position:absolute;
    top:0;
    left:0;
    padding: 8px;
    color:#fff;
    background-color:#47442f;
    opacity: 0.8;
    font-size:14px;
}
.entry:nth-child(1):before{
    content:'No.1';
    background-color:#d6b038;
}
.entry:nth-child(2):before{
    content:'No.2';
    background-color:#bfc4c9;
}
.entry:nth-child(3):before{
    content:'No.3';
    background-color:#b9704e;
}
.entry:nth-child(4):before{
    content:'No.4';
}
.entry:nth-child(5):before{
    content:'No.5';
}
.entry-title{
    margin:0 10px 12px;
}
.entry-title a{
    color:#000;
    text-decoration: none;
    font-size:16px;
}
.entry-item{
    width:90px;
    background-color: #47b39d;
    font-size:12px;
    color:#fff;
    padding:8px 24px
}
.entry-image img{
    margin:0 0 12px;
    width:100%;
}
.content{
}
.content-title{
    color:#fff;
    font-size:28px;
    text-align: center;
    padding:16px 0 24px;
    background-color:#3b4552;
    margin:0;
    position:relative;
}
.content-title:after {
    content: '';
    display: block;
    width:0;
    height:0;
    position:absolute;
    background-color:transparent;
    bottom:-20px;
    margin:0 auto;
    left:0;
    right:0;
    border-top:20px solid #3b4552;
    border-left:60px solid transparent;
    border-right:60px solid transparent;
}
.content-en{
    color:#fff;
    font-size:13px;
    text-align: center;
}
.feature{
    background-color:#fff;
    display:flex;
    flex-wrap: wrap;
    margin:0;
    position:relative;
    height:400px;
    flex-direction:column;
    justify-content:center;
}
.feature:nth-child(even){
    padding-right:600px;
    min-width:500px;
}
.feature:nth-child(odd){
    padding-left:600px;
    min-width:500px;
}
.feature-image{
    position:absolute;
    top:0;
}
.feature-image img{
    height:400px;
    width:600px;
    min-width:600px;
}

.feature:nth-child(even) .feature-image{
    right:0;
}
.feature:nth-child(odd) .feature-image{
    left:0;
    
}
.feature-title{
    color:#47b39d;
    font-size:36px;
    margin:0 0 8px 10px;
}
.feature-num{
    background-color:#47b39d;
    color:#fff;
    font-size:16px;
    text-align: left;
    padding:40px 12px 8px;
    margin:0 0 32px;
}
.feature-eng{
    color:#47b39d;
    font-size:13px;
    margin:0 0 32px;
}
.feature-lead{
    font-size:12px;
    margin:0 0 48px 10px;
}
.btn-orange{
    background-color:#ff6c00;
    width:50%;
    padding:12px;
    font-size:14px;
    margin:0 0 48px 10px;
    text-align: center;
    border-radius:5px;
}
.btn-orange a{
    color:#fff;
    text-decoration: none;
}
.service{
    background-color:#fff;
    margin:0 0 20px;
    min-width:450px;
}
.service-section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.service-title{
    color:#47b39d;
    margin:80px 0 8px;
    font-size:40px;
    text-align: center;
}
.service-span{
    font-size:13px;
    color:#47b39d;
    text-align: center;
}
.btn-green{
    padding:16px 20px;
    margin:0 auto;
    text-align: center;
    width:50%;
    background-color:#47b39d;
    color:#fff;
    border-radius:5px;
}
.btn-green a{
    color:#fff;
    text-decoration: none;
}
.table{
    padding:96px 30px;
    background-color:#fff;
}
.table-title{
    font-size:16px;
    margin: auto;
}
.table-list{
    border: 1px solid;
    border-color:rgb(229, 229, 229);
    border-right:transparent;
    border-left:transparent;
    border-top:transparent; 
    margin: auto;
}
.form{
    background-color:#47b39d;
    margin:0 ;
    padding:60px 33px;
}
.form-title{
    color:#fff;
    text-align: center;
}
.form-comment{
    text-align: center;
    margin:0;
}
.form-comment input{
    margin:0 0 24.4px;
    padding:8px 13px;
    border-radius:3px;
    border:1px solid;
    border-color:rgb(204,204,204);
    width:80%;
}
.form-comment textarea{
    margin:0 0 24.4px;
    padding:8px 13px;
    border-radius:3px;
    border:1px solid;
    border-color:rgb(204,204,204);
    width:80%;
}
.btn-black{
    text-align: center;
}
.btn-black input{
    width:15%;
    background-color:#000;
    color:#fff;
    border-radius:2px;
    padding:12px 20px;
    border:none;
    font-size:15px;
    text-align:center;
}
footer{
    background-color:rgb(2,24, 48);
}
.footers-section{
    margin:0 36px;
    padding:78px 0px;
}
.footer-section{
    display:flex;
}
.footers-title{
    color:#fff;
    font-size:24px;
    padding:0 0 0px;
    margin:0 0 32px;
    border-bottom:1px solid;
    border-bottom-color:rgb(59, 69, 82);
}
.footer-content{
    padding:0 15px;
}
.footer-title{
    color:#fff;
    font-size:16px;
}
.footer-link{
    font-size:14px;
    padding:8px 12px 8px 0px;
    margin:0;
}
.footer-link a {
    color:#fff;
    text-decoration: none;
}
.footer-copy{
    background-color:#000;
    color:#fff;
    margin:0 12px;
    padding:30px 0;
    text-align: center;
}
